attrs
cachetools
certifi
charset-normalizer
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
h11
httplib2
idna
MouseInfo
mss
numpy
oauth2client
opencv-python
outcome
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAutoGUI
PyDrive
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
pytube
pytweening
PyYAML
requests
rsa
rubicon-objc
selenium
setuptools
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
uritemplate
urllib3
websocket-client
wheel
wsproto
xvfbwrapper
yt-dlp
